body {
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(156,185,214,1) 100%);
}

h1 {
    color: midnightblue;
    font-family: 'Courier New', monospace;
    font-size: 40px;
    text-align: center;
    animation: enlarge 3s ease 0.3s 1 normal forwards;
    transform: scale(0.5);
}

p {
    color: midnightblue;
    font-family: cursive;
}

ul{
    color: rgb(255, 228, 196);
    font-family: cursive;
}

li {
    display: inline-block;
    color: midnightblue;
}

li:hover{
    color: purple;
    transition: color 1s ease;
}

li:not(:hover){
    color: midnightblue;
    transition: color 1s ease;
}

mark {
    background: transparent;
    color: midnightblue;
    text-decoration: overline;
    font-family: cursive;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 300px;
    background: transparent;
    color: midnightblue;
    border-radius: 20px;
    box-shadow: 0px 0px 50px 0px midnightblue;
    margin-left: 45px
}


.typing {
    transition: color .5s ease;
    width: 260px; /*how wide the affected element will be*/
    color:midnightblue; /*the color of the text*/
    
    animation:
    /*name of animation, length of animation, increment*/
    typing 2s steps(32),
    
    /*name of animation,
    length of animation,
    timing when animation happens,
    delay before animation starts*/
    cursor 1s step-end infinite;
    
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: cursive;
    
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

@keyframes enlarge {
	100% {
		transform: scale(1.0);
	}
}

.container {
	position: relative;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	gap: 1em;
	width: 700px;
	height: 700px;
	transition: all 400ms;
    margin-left: 525px;
    margin-top: -300px;
    background: transparent
}

.container:hover .box {
	filter: grayscale(100%) blur(5px);
}

.box {
    display: flex;
	position: relative;
	background: var(--img) center center;
	background-size: cover;
	transition: all 400ms;
	justify-content: center;
	align-items: center;
}

/* .box-1:hover {
    background: white;
}

.box-2:hover {
    background: white;
}

.box-3:hover {
    background: white;
}

.box-4:hover {
    background: white;
}

.box-5:hover {
    background: white;
} */

.container .box:hover {
	filter: grayscale(0);
}

.container:has(.box-1:hover) {
	grid-template-rows: 3fr 1fr 1fr 1fr 1fr;
}

.container:has(.box-2:hover) {
	grid-template-rows: 1fr 3fr 1fr 1fr 1fr;
}

.container:has(.box-3:hover) {
	grid-template-rows: 1fr 1fr 3fr 1fr 1fr;
}

.container:has(.box-4:hover) {
	grid-template-rows: 1fr 1fr 1fr 3fr 1fr;
}

.container:has(.box-5:hover) {
	grid-template-rows: 1fr 1fr 1fr 1fr 3fr;
}

.box::after {
	content: attr(data-text);
	position: relative;
	bottom: 20px;
	color: #fff;
    background: transparent;
	padding: 10px 10px 10px 15px;
	letter-spacing: 4px;
	transform: translateY(10px);
	transition: all 400ms;
    opacity: 0;
}

.box:hover::after {
	transform: translateY(0);
	opacity: 1;
	transition-delay: 400ms;
}